/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/Image/newimage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles-2.js container ---- */

#particles2-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.5;
}
