@media screen and (max-width:1024px) {
    .sc1 {
        grid-template-columns: 10% 1fr 1fr 10%;
    }

    .greeting-div p {
        font-size: 28px;
    }

    #text {
        font-size: 18px;
    }

    .social span {
        height: 30px;
        width: 30px;
    }

    .card-container {
        display: block; 
        margin: 15px;
    }

    .nen-hobbies {
        display: flex;
    }
    .card-hobbies {
        margin: 0 0 30px 0;
    }

    .sc2{
        height: auto;
    }


    .box .content h3 {
        font-size: 18px;
        top: -30px;
    }

    .container {
        display: block;
    }

    .container .box {
        margin: 40px;
    }

    #particles-js-2 {
        height: auto;
        width: auto;
    }


    .progress-main-div {
        display: block;
    }

    .container-skills {
        width: auto;
    }

    .container-skills1 {
        width: auto;
    }


    .about-info-div {
        
    }




    





    

















}


@media screen and (max-width:768px) {


   








    .fa-bars {
        opacity: 1;
        
    }

    .nav-div {
        
        top: 70px;
        position: absolute;
        height: 300px;
        width: 100%;

        
    }

    .nav-div ul li a {
        color: black;
    }

    .active {
        display: flex;
        background-color: white;
    }

    .greeting-div p {
        font-size: 20px;
    }

    .sc1 {
        grid-template-columns: 10% 1fr 10%;
    }

    .sc1-main-div {
        grid-column: 2/3;
        align-items: center;
    }

    #text {
        font-size: 10px;
    }
    
   
    nav ul {
        margin: 0;
        display: none;
        flex-direction: column;
        
    }


    .logo p {
        color: white;
        opacity: 1;
    }

    .logo-p-1 {
        color: black;
    }





    .sc2 {
        height: auto;
        display: block;
    }

    .hobbies {
        margin: 0;
    }

    .nen-hobbies {
        display: flex;
    }

    .card-container {
        display: block;
        margin: 0;
        
    }

    .card-hobbies { 
        margin: 15px ;

    }

    .txt-hobbies {
        margin: 50px 0;
        font-size: 18px;
    }

    .hobbies-btn {
        width: 150px;
        height: 50px;
        font-size: 12px; 
        top: 50%;
        transform: translateY(-50%);
        padding: 15px 0;
    }


    .aboutme-info {
        text-align: justify;
        text-justify: inter-word;
        font-size: 14px;
       
    }


  

    canvas {
        width: auto;
        height: auto;
        
        }





    .profile-div {
        width: auto;
    }

    .profile-div img {
        padding:20px;
        height: auto;
        width: auto;
    }

    .about-info-div {
        width: auto;
        padding: 20px;
    }

    .aboutme-info {
        width: auto;
        padding: 20px 0;
        margin: 0;
    }

    .personal-info {
        width: auto;
        padding: 0 0 20px 0;

    }










    .background-sc3 {
        height: auto;
        width: auto;
        display: block;
    }

    .container {
        display: block;
    }

    .container .box {
        margin: 40px;
    }

    #particles-js-2 {
        height: auto;
        width: auto;
    }


    .progress-main-div {
        display: block;
    }

    .container-skills {
        width: auto;
    }

    .container-skills1 {
        width: auto;
    }





    .sc4 {
        height: auto;
        width: auto;
        display: block;
        z-index: 0;
    }

    .sc4::before {
        z-index: -1;
    }

    .send-msg {
        width: auto;
        margin: 0 0 40px 0;
    }
    .send-msg p {
        font-size: 20px;
    }

    .contact-info {
        width: auto;
        margin: 0;
    }

    .contact-info h2 {
        font-size: 16px;
    }

    .contact-info-txt p {
        font-size: 14px;
    }

    .contact-social {
        margin: 20px 0 0 0;
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;

    }

    .form {
        width: auto;
        margin: 50px 0 0 0;
    }

    .form form {
        width: auto;
        margin: 0;
    }

    .form form input {
        width: 100%;
        height: auto;
        font-size: 14px;
    }

    .txt-input {
        width: 100%;
    }
   
    .form form button {
        width: 100px;
        height: 35px;
        font-size: 10px;
    }

    footer small {
        font-size: 10px;
    }
}



@media screen and (max-width:343px)  {
    .hobbies {
        padding: 15px 0 0 0;
    }
    .hobbies-btn {
            width: 100px;
            height: 35px;
            font-size: 9px; 
            top: 50%;
            transform: translateY(-50%);
            padding: 11px 0;

    }

     
      
}